/* Estilos globais */
body {
  background-color: #0a0a23; /* Fundo azul escuro */
  color: #e6e6ff; /* Texto em tom claro */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Layout da aplicação principal */
.App {
  padding-top: 80px; /* Espaço para a barra fixa */
  text-align: center;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #0000cc; /* Faixa azul */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.filter-container {
  display: flex;
  gap: 10px;
}

input[type="text"], select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #e6e6ff;
  background-color: #333366; /* Azul escuro */
  color: white;
}

button {
  padding: 10px 15px;
  background-color: #4b0082; /* Roxo */
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button#logout {
  background-color: #cc0000; /* Cor do botão sair */
  margin-right: 30px;

}

button:hover {
  background-color: #6a0dad;
}

h1 {
  color: #b3b3ff;
  justify-content: center;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

table {
  width: 90%; /* Tabela ocupa dinamicamente 90% da tela */
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #e6e6ff;
}

th, td {
  padding: 10px;
  text-align: center;
  background-color: #333366; /* Fundo azul escuro nas células */
}

th {
  background-color: #4b0082; /* Fundo roxo nas colunas de título */
  color: white;
}

.chatbot-container {
  border: 1px solid #3813df;
  padding: 10px;
  width: 300px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
}

.chat-window {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.message.user {
  background-color: #0b0b0b;
  text-align: right;
}

.message.bot {
  background-color: #0d0d0d;
  text-align: left;
}
